html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.Node {
    position: absolute;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}
